:root {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
}


a {
  font-weight: 500;
  text-decoration: none;
  color: inherit; 
}


a:hover {
  opacity: 0.8;
}


body {
  margin: 0;
  padding: 0;
  background: none;
}


button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}


@media (prefers-color-scheme: light) {
 
}
